
{% extends 'base.html.twig' %}

{% block title %}Upload Payment{% endblock %}

 {% block body %}
     <div class="alert alert-primary" role="alert">
         You aren't assigned to any payment plan yet, payment uploading isn't available right now, sorry.
     </div>
 {% endblock %}